*{
  box-sizing: border-box;
}
body{
margin:0;
padding: 0;
font-family: "Roboto",sans-serif;
background-color: #e47272;
}
header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: rgb(189, 184, 197);
}
.logo img{
  width: 80px;   
}
.nav-menu ul{
list-style: none;
margin: 0;
padding: 0;
display: flex;
}
.nav-menu li {
  margin:5px;
}
.nav-menu a {  
  color:rgb(68, 15, 99);
  text-decoration: none;

}
  h1 {
    color: #333;
  }
  
  #novedades {
    text-align: center;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .novedad {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .novedad img {
    width: 600px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .novedad h3 {
    margin-top: 10px;
    color: #333;
  }
  
  .novedad p {
    color: #777;
    margin-top: 5px;
    text-align: center;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }